
@{
    Layout = null;
}

<!Doctype html>
<html>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<meta name="viewport" content="width=device-width" />
<title>Home</title>
<body>
    <div class="text-center">
        <h1 class="display-2" style="color:#3e9ccf">Party Invite</h1>
        <hr />
        <h1>We're going to have an exciting party!</h1>
        <h2>And you are invited</h2>
        <a class="btn btn-primary" asp-action="RSVPForm">RSVP Now</a>
    </div>
</body>
</html>


